header {
    height: 0;
}

.home {
    padding: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: static;
    width: 300px;
}
.menu-title {
    font-size: 32px;
    text-transform: uppercase;
}

.menu.collapsed:hover {
    top: 0;
}

.menu-tape {
    padding-top: 20px;
    padding-right: 48px;
    padding-bottom: 6em;
    gap: 24px;
}

.menu-links {
    gap: 8px;
}

.menu-links a {
    font-size: 22px;
}

.menu-bottom-link {
    font-size: 27px;
}

.menu-collapse-button {
    display: none;
}

.photo {
    position: relative;
}

.photo-title {
    display: block;
    position: absolute;
    left: 23%;
    bottom: 4%;
    color: white;
}

.photo-title span {
    display: block;
    text-transform: uppercase;
    line-height: 0.9;
}

.photo-title span:nth-child(1) {
    font-size: 70px;
}

.photo-title span:nth-child(2) {
    font-size: 33px;
}

.photo-title span:nth-child(3) {
    font-size: 50px;
}

@media screen and (min-width: 1000px) {
    .container {
        display: block;
    }

    .menu {
        position: absolute;
        width: 300px;
    }

    .menu-tape {
        padding-top: 6em;
        padding-right: 3em;
        padding-bottom: 6em;
    }

    .photo {
        width: 500px;
        margin-left: 80px;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .photo-title {
        display: block;
        position: absolute;
        left: 100px;
        bottom: 40px;
        color: white;
    }

    .photo-title span {
        display: block;
        text-transform: uppercase;
        line-height: 0.9;
    }

    .photo-title span:nth-child(1) {
        font-size: 70px;
    }

    .photo-title span:nth-child(2) {
        font-size: 33px;
    }

    .photo-title span:nth-child(3) {
        font-size: 50px;
    }

    footer {
        position: absolute;
        bottom: -140px;
    }

    .footer-tape {
        height: 200px;
    }
}
