.menu {
    position: absolute;
    top: 0;
    right: 4px;
    width: 200px;
    transition: top 1s;
}

.menu.collapsed {
    top: -360px;
}

.menu-tape {
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* height: 500px; */
    padding: 93px 28px 0 0;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

.menu-title {
    font-size: 22px;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-links a {
    font-size: 18px;
    text-transform: lowercase;
    color: inherit;
}

.menu-bottom-link {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
}

.menu-collapse-button {
    margin-top: -30px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .menu {
        width: 300px;
        right: 50px;
    }
    
    .menu.collapsed {
        top: -500px;
    }

    .menu-title {
        font-size: 32px;
        text-transform: uppercase;
    }

    .menu.collapsed:hover {
        top: 0;
    }

    .menu-tape {
        padding-right: 48px;
        padding-bottom: 180px;
        gap: 24px;
    }

    .menu-links {
        gap: 8px;
    }

    .menu-links a {
        font-size: 22px;
    }

    .menu-bottom-link {
        font-size: 27px;
    }

    .menu-collapse-button {
        display: none;
    }
}
